<div class="row justify-content-center align-items-center h-100">
  <div class="col-lg-8">
    <div id="chart-<%= gym_name %>"></div>
  </div>
  <div class="col-lg-3 pb-5 justify-content-center align-items-center">
    <div class="gym-name text-center"><%= gym_name.upcase %></div>
    <div class="gym-occupancy display-2 mb-0 text-center"><%= @occupancies[gym_name] %></div>
    <div class="working-out pt-0 text-center">WORKING OUT NOW</div>
  </div>
</div>
