<footer class="text-muted pt-5 pb-5">
  <div class="container">
    <!-- <p class="float-right">
      <a href="#">Back to top</a>
    </p> -->
    <p><a class="text-reset" href="https://github.com/shanwpf/nusgyms">Github</a></p>
  </div>
</footer>
</html>
